{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" integrity="sha512-bYPO5jmStZ9WI2602V2zaivdAnbAhtfzmxnEGh9RwtlI00I9s8ulGe4oBa5XxiC6tCITJH/QG70jswBhbLkxPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="row">
	<div class="col-sm-6 offset-sm-3">
		<div class="card card-body">
			<h2>Editar Cita</h2>
			<form id="register">
				<div class="form-group">
				    <label for="titulo">Título</label>
				    <input type="text" class="form-control" id="titulo" name="titulo" required="required" value="{{cita.titulo}}">
				    <input type="hidden" id="idcita" name="idcita" value="{{cita._id}}">
				</div>
			  <div class="form-group">
			    <label for="descripcion">Descripción</label>
			    <textarea class="form-control" id="descripcion" name="descripcion" required="required">{{cita.descripcion}}</textarea>
			  </div>
			  <div class="form-group">
			    <label for="password">Fecha y Hora de Cita</label>
			    <input type="text" class="form-control" id="fecha" name="fecha" required="required" placeholder="dd/mm/yyyy H:i" value="{{cita.fecha}}">
			  </div>
			  <div class="alert">
			  	
			  </div>
			  <button type="submit" class="btn btn-primary">Guardar</button>
			  <a href="{{url_for('get_citas')}}"><button type="button" class="btn btn-danger">Cancelar</button></a>
			</form>
		</div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{url_for('static', filename='js/cita.js')}}"></script>
{% endblock %}